# Telegram
BOT_TOKEN=8700941020:AAH7XFA7vqQMP5CnCBOd6YcxH1XCrWspmBo
ADMIN_IDS=7949652992,7949652992

# Database — Neon (neon.tech, free tier)
# Dapatkan connection string dari dashboard Neon → Project → Connection Details
DATABASE_URL=postgresql+asyncpg://user:pass@ep-xxx.region.aws.neon.tech/neondb?ssl=require

# PPOB API - toponepanel.com
PPOB_API_ID=196209
PPOB_API_KEY=gxpgds-tqxqdn-e1dfhr-jyer9b-d5uzqh

# Payment Gateway - Pakasir (pakasir.com), QRIS only
PAKASIR_PROJECT_SLUG=arentelegram
PAKASIR_API_KEY=sL010dDIfySsBQ4BKpfCTMWLfD9riqft
# Webhook URL yang didaftarkan di dashboard Pakasir: https://yourdomain.com/webhook/payment

# App
LOG_LEVEL=INFO
WEBHOOK_HOST=https://yourdomain.com
